
body{
min-height: 100vh; 
display: flex; 
flex-direction: column; 
}

 
 main{
   flex-grow: 1;
} 

.hero-image{
  background-image: url(heropuppy.jpg) ;
  height: 55vh;
  background-size: cover;
  background-position: center;
}

.puppy2 img{
  max-height: 50vh;
  width: 40vh;
}

ul{
  list-style-type: none;
}

.card-white2{
  height: 105%;
}

.below-header-row{
  height: 25vh;
}

.below-header-text{
  color: white;
}

.card1{
    position: absolute;
    bottom: 90;
    transform: translateY(50%);
    align-content: right;
}

.look-at-puppers-card{
  bottom: 75;
    transform: translateY(50%);
    align-items: right;

}

.subtle-text{
  color: black;
}

@media screen and (min-width:480px){
  .gone-on-mobile{
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .below-header-row{
    height: 40vh;
  }
}

@media only screen and (max-width: 480px) {
  .subtle-text{
    color: white;
  }
}
